<h1>Your Text Analysis</h1>

<h2>Number of Words: <%=@wordCount %> </h2>

<h2>Vowels: <%=@vowelCount%> </h2>

<h2>Consonants: <%=@consonatCount%> </h2>

<h2>Most Common Letter: <%=@mostUsedLetter.to_a[0][0].upcase%>, used <%=@mostUsedLetter.to_a[0][1]%> times</h2>
